* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/*----------General Styling---------- */
body, html {
  height: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Nunito', sans-serif;
  color: white;
  letter-spacing: .3em;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 200;
}

h2 {
  font-family: 'Nunito', sans-serif;
  color: black;
  padding-bottom: 5vh;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: .5vw;
  text-align: center;
}

h3 {
  font-family: 'Nunito', sans-serif;
  color: black;
  margin-bottom: 5vh;
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: .2vw;
  text-align: center;
}

/*------Header/Nav-Bar/Hamburger------*/
.menu-on {
  background-color: rgba(10,5,22, 0.4);
  color: #fff;
  position: fixed;
  z-index: 1001;
  padding: 13px;
  width: 100vw;
  text-align: center;
}

.menu-on:hover {
  color: rgba(58, 58, 58, 0.8);;
  cursor: pointer;
}

.menu-off {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10,5,22, 0.4);
  z-index: 1000;
  display: none;
}

nav.primary-nav {
  background-color: rgba(10,5,22, 0.4);
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1002;
  display: none;
  text-align: center;
}

nav.primary-nav a {
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  display: block;
  padding: 15px 22px;
}

nav a:hover {
  background-color: rgba(58, 58, 58, 0.8);
}

#toggle-menu {
  display: none;
}

#toggle-menu:checked ~ nav.primary-nav {
  display: block;
}

#toggle-menu:checked ~ .menu-off {
  display: block;
}

/*---------Landing Section----------*/

/*-------------Parallax-------------*/
#home-content {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/openroad-green.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-content h1 {
   /* position: fixed; */
   text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

#home-content h2 {
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 200;
  /* position: fixed; */
  padding: 0;
  margin-top: 4.5vh;
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
}
/*-----------End Parallax-----------*/

/*----------------------------------*/
/*-----------Main Content-----------*/
/*----------------------------------*/

/*-----------About Section----------*/
#about {
  background-color: #ffffff;
  width: 100vw;
  padding: 7vh;
  font-family: 'Nunito', sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about p {
  font-family: 'Nunito', sans-serif;
  color: black;
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: .1vw;
  line-height: 2.5vh;
  margin-bottom: 4vh;
}

.abt-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: space-around;
}

.p-div {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

li {
  font-size: 1.4em;
}

.p-div i {
  color: #225020;
  font-size: 1.7em;
  padding: 0vw;
  margin-right: .7vw;
  margin-bottom: 1vh;
}

.my-pic {
  border: 1px solid white;
  border-radius: 2vw;
  width: 25vw;
}

/*-------------Parallax-------------*/
#denver-image {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/denvercity2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
/*-----------End Parallax-----------*/

/*----------Skills Section----------*/
#skills {
  width: 100vw;
  padding: 7vh;
  background-color: #e3e4e5;
  font-family: 'Nunito', sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-div {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  justify-content: space-around;
  background-color: #e3e4e5;
}

i {
  color: #225020;
  font-size: 15vh;
  padding: 1vw;
}

/*-------------Parallax-------------*/
#keyboard-img {
  min-width: 100vw;
  height: 100vh;
  background-image: url(../images/keyboard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
/*-----------End Parallax-----------*/

/*--------Portfolio Section---------*/
#portfolio {
  background-color: #ffffff;
  width: 100vw;
  padding: 7vh;
  font-family: 'Nunito', sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
}

.projects-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.project-div h3:hover {
  color: #203f27;
  font-weight: 600;
}

.project-links {
  padding-bottom: 5vh;
}

.project-img {
  width: 33vw;
  box-shadow: .5vw .5vw 1.5vw #3a3a3a;
  border: .1px solid black;
  border-radius: .5vw;
}

.project-img:hover {
  box-shadow: 1.2vw 1.2vw 2vw  #203f27;
}

#unWined {
  width: 9.5vw;
  box-shadow: .5vw .5vw 1.5vw #3a3a3a;
  border: .1px solid black;
  border-radius: .5vw;
}

#unWined:hover {
  box-shadow: 1.2vw 1.2vw 2vw  #203f27;
}

/*-------------Parallax-------------*/
#colo-mtns {
  min-width: 100vw;
  height: 100vh;
  background-image: url(../images/rky-mtn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
/*-----------End Parallax-----------*/

/*----------Contact Section---------*/
#contact {
  background-color: #1c1c1c;
  width: 100vw;
  padding: 7vh;
  font-family: 'Nunito', sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
}

#contact h2 {
  color: white;
}

#contact p {
  font-family: 'Nunito', sans-serif;
  color: white;
  padding: 2% 2%;
  width: 100%;
  text-align: center;
  letter-spacing: .1vw;
  line-height: 2.5vh;
}

.social-icons-div {
  display: flex;
  justify-content: center;
}

.social-icons-div i {
  color: #E5C85E;
  font-size: 2em;
}

.social-icons-div i:hover {
  color: rgb(245, 225, 152);
  font-size: 2em;
}

small {
  color: white;
  font-size: .8em;
  margin-top: 5vh;
}

/*----------Form Styling----------*/
#formLink {
  color: #E5C85E;
  text-decoration: underline;
}

#formLink:visited {
  color: #E5C85E;
}

.message-sent{
  display: none;
  padding-bottom: 30px;
  font-size: 1.5em;
}

#formDrop {
  display: none;
  text-align: center;
}

input[type=email] {
  width: 50%;
  padding: 12px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2.6px solid #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.3s;
  outline: none;
  font-size: 95%;
  display: inline-block;
}

input[type=email]:focus {
  border: 1.4px solid #E5C85E;
}

textarea {
  width: 50%;
  height: 80px;
  padding-top: 12px;
  padding-left: 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2.6px solid #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.3s;
  outline: none;
  font-size: 95%;
  display: inline-block;
}

textarea:focus {
  border: 1.4px solid #E5C85E;
  transition: fadein;
}

button[type=submit] {
  min-width: 5%;
  height: 27px;
  background-color: #E5C85E;
  color: #1c1c1c;
  font-family: 'Nunito', sans-serif;
  font-size: 95%;
  font-weight: 200;
  letter-spacing: 0.7px;
  border: 1.4px solid #E5C85E;
  border-radius: 15px;
  display: block;
  margin: 0.5% auto;
}

#contact button:hover {
  cursor: pointer;
  opacity: 1;
  background-color: rgb(245, 225, 152);
  border: none;
}

/*-------Resume Modal-------*/
#pdf {
  color: #E5C85E;
  cursor: pointer;
  padding: none;
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding-top: 10vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/*---------Break Points----------*/
/*---------Small Screens---------*/

/*-----------Tablet-----------*/
@media screen and (min-width: 780px) {
/*------Burger Continued-----*/
  .menu-on, .menu-off {
    display: none;
  }

  nav.primary-nav {
    display: block;
    position: fixed;
    width: 100vw;
    text-align: center;
  }

  nav.primary-nav a {
    display: inline-block;
  }
}

@media only screen and (max-width: 780px) {

  input{
    min-width: 60%;
  }

  textarea {
    min-width: 60%;
  }

  .projects-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

   .abt-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

   .project-img {
    width: 75vw;
    box-shadow: .5vw .5vw 1.5vw #3a3a3a;
    border: .1px solid black;
    border-radius: .5vw;
  }
}

/*-----------Mobile-----------*/
@media only screen and (max-width: 580px) {
  html {
    min-height: 100%;
  }

  #home-content {
    width: 100vw;
    height: 50vh;
    background-image: url(../images/openroad-green.jpg);
    background-size: stretch;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
  }

  #denver-image {
    width: 100vw;
    height: 50vh;
    background-image: url(../images/denvercity2.png);
    background-size: stretch;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
  }

  #keyboard-img {
    width: 100vw;
    height: 50vh;
    background-image: url(../images/keyboard.jpg);
    background-size: stretch;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
  }

  #colo-mtns {
    width: 100vw;
    height: 50vh;
    background-image: url(../images/rky-mtn.jpg);
    background-size: stretch;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
  }

  input {
    min-width: 60%;
  }

  textarea {
    min-width: 60%;
  }

  .front-logos {
    margin-bottom: 5vh;
  }

  .back-logos {
    margin-bottom: 5vh;
  }

  h1 {
    font-size: 1.8em;
    text-align: center;
  }

  h2 {
    margin-top: 4.8vh;
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }

  ul {
    width: 55vw;
  }

  li {
    font-size: 1.2em;
   }

  #about i {
    font-size: 1.15em;
  }

  i {
    font-size: 3.5em;
  }

  p {
    font-size: 1em;
  }

  .project-div a{
    font-size: .8em;
  }

  small {
    margin-bottom: 2vh;
    text-align: center;
  }

  #about {
    padding: 3vw;
  }

  #skills {
    padding: 3vw;
  }

  #portfolio {
    padding: 3vw;
  }

  #contact {
    padding: 3vw;
  }

  .my-pic {
    border: 1px solid white;
    border-radius: 2vw;
    width: 50vw;
    margin-bottom: 4vh;
  }

  .projects-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .project-div {
    margin-bottom: 5vh;
  }

  .abt-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .project-img {
    width: 65vw;
    box-shadow: .5vw .5vw 1.5vw #3a3a3a;
    border: .1px solid black;
    border-radius: .5vw;
  }

  #unWined {
    width: 35vw;
  }

  /* embed {
    width: 530vw;
    height: 730vh;
  } */

  .social-icons-div {
    justify-content: space-around;
    margin-top: 3vh;
  }
}